.annotation > div {
	@apply 
    bg-[#00000088] 
    text-gray-300 
    whitespace-nowrap 
    overflow-hidden 
    rounded-[30px]
    select-none border 
    border-gray-300 
    hover:bg-[#000000CC] 
    hover:text-white 
    hover:border-white
    transition-all
    duration-100
    cursor-pointer
    ;
}

