@tailwind base;

@font-face {
  font-family: "kode";
  src: url("../fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf");
}

@layer components {
  canvas {
    @apply cursor-grab h-dvh w-dvw active:cursor-grabbing;
  }

  .scrollbar::-webkit-scrollbar {
    width: 18px;
    background-color: #aaaaaa;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #222222;
  }
}

@tailwind components;

@layer utilities {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    background-color: #03030e;
  }

  body {
    @apply h-dvh touch-none select-none font-kodemono text-white;
  }

}

@tailwind utilities;
